<tr *ngIf="carDetails" >
    <div id="place" *ngFor="let car of carDetails" class="card" style="width: 960px; ">
      <img src="https://localhost:44316{{car.images}}"  width="50px" height="500px" class="card-img-top" alt="...">
      <div class="card-body" >
          <div class="card-body">
            <div class="row">
                <div id="brand" class="col-sm-3">
                    <h4 class="card-title " style="text-align: center;">Brand</h4>
                    <p class="card-text"  style="text-align: center;" >{{car.brandName}} </p>
                </div>
                <div class="col-sm-2">
                    <h4 class="card-title" style="text-align: center;">Id</h4>
                    <p class="card-text"  style="text-align: center;" > {{car.id}}</p>
                </div>
                <div class="col-sm-2">
                  <h4 class="card-title" style="text-align: center;">Model</h4>
                  <p class="card-text"  style="text-align: center;" > {{car.modelYear}}</p>
              </div>
                <div class="col-sm-2">
                    <h4 class="card-title" style="text-align: center;">Color</h4>
                    <p class="card-text"  style="text-align: center;" > {{car.colorName}}</p>
                </div>
                
                <div class="col-sm-3">
                    <h4 class="card-title " style="text-align: center;">Daily Price</h4>
                    <p class="card-text"  style="text-align: center;" >{{car.dailyPrice |currency:"₺"}} </p>
                </div>             
            </div>
      </div>
    </div>
    <div class="d-grid gap-2">
            </div>
    </div>
    </tr>